{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %} 


{% block header %}
  
{% endblock %}

{% block content %}
<div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="container h-100">
                        <div class="d-flex justify-content-center h-100">
                            <div class="form_card">
                                <div class="d-flex justify-content-center">
                                
                        </div>
                            <div class="form_card_title"><h2>Change Password</h2></div>

                            <div class="d-flex justify-content-center form_container">
                                    {{ wtf.quick_form(form) }}
                            </div>
                
                            <div class="mt-4">
                            <div class="d-flex justify-content-center links">
                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}