{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %} 
{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
  {# <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Log In">
  </form>
  #}


<!--<div class="container-fluid h-100 bg-light text-dark">-->
  <div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="form_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<img src="/static/images/logo_150.png" class="brand_logo" alt="x51 logo">
					</div>
        </div>
        <div class="form_card_title"><h2>Home Dashboard</h2></div>

				<div class="d-flex justify-content-center form_container">
					<form action="{{ url_for('auth.login', next=request.args.get('next')) }}", method="post">
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
                  {{ form.username }}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
                  {{ form.password }}
						</div>
						<div class="form-group">
            </div>
            <div class="d-flex justify-content-center mt-3 login_container">
                {{ form.submit(class_='btn login_btn') }}
                {{ form.hidden_tag() }}
            </div>
					</form>
				</div>

				<div class="mt-4">
					<div class="d-flex justify-content-center links">

					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
