{% extends 'base.html' %}
{% set active_page = "therm" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.2.0/bokeh.min.js" integrity="sha256-ig5/XS1E1XCqcjk1C1M4FgNQJl2Th/WBpD3TLvGI4Mg=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.2.0/bokeh.min.css" integrity="sha256-HvNRJAo41cZdDpLcwMNoslu/1tvP6sLpvdcTJTZfiq0=" crossorigin="anonymous" />

<div class="container">
    {{ div_graph | safe }}
    {{ script_graph | safe }}
    <div style="position: absolute; width: 500px;"">
        {{ wtf.quick_form(form) }}
    </div>
</div>

{% endblock %}