{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from  'macros/macros.html' import action %}
{% set active_page = "tasks" %}

{% block content %}
<div class="container">
    <a class = "btn btn-primary btn-space" href="{{ url_for('task.new_task') }}">New Task</a>

    
    <h2>To do List</h2>
    <div id="searchPanel"></div>
    <table class="table table-striped table-bordered" style="width:100%" id="pendingList">
        <thead>
            <th>Task</th>
            <th>Due</th>
            <th>Project</th>
            <th>Priority</th>
            <th>Urgency</th>
            <th>Actions</th>
        </thead>
        <tbody>
        
                {% for t in tasks.pending %}
          
                <tr>
                    <td>{{ t.description }}</td>
                    {% set d = nokey(t, "due") %}
                    {% if d %}
                        <td>{{ t.due.strftime('%a, %d %b, %Y') }}</td>
                    {% else %}
                    <td>No due</td>
                    {% endif %}
                    <td>{{ nokey(t, "project") }}</td>
                    <td>{{ prior_map[t.priority] }}</td>
                    <td>{{ t.urgency }}</td>
                    <td>
                        <form action="{{ url_for('task.complete_task', task_id = t.id) }}" method="post">  <button class = "done btn btn-space btn-success" type="submit" formmethod="post"> {{ action('done', 'task') }} </button> </form>
                   
                        <a class = "delete btn btn-space btn-light" href>{{ action('edit', 'task') }}</a>
                   
                            <form action="{{ url_for('task.delete_task', task_id = t.id) }}" method="post">  <button class = "delete btn btn-space btn-warning" type="submit" formmethod="post"> {{ action('delete', 'task') }} </button> </form>
                        </td>
                </tr>
                {% endfor %}
    
        </tbody>
    
    </table>

</div>

<div class="container">        
        <h2>Recently Completed</h2>
        <table class="table table-striped table-bordered" style="width:100%" id="doneList">
            <thead>
                <th>Task</th>
                <th>Due</th>
                <th>Project</th>
            </thead>
            <tbody>
            
                    {% for t in tasks.completed %}
                    <tr>
                        <td>{{ t.description }}</td>
                        {% set d = nokey(t, "due") %}
                    {% if d %}
                        <td>{{ t.due.strftime('%a, %d %b, %Y') }}</td>
                    {% else %}
                    <td>No due</td>
                    {% endif %}
                        <td>{{ nokey(t, "project") }}</td>
                    </tr>
                    {% endfor %}
        
            </tbody>
        
        </table>
    
    </div>
<script>
    $( document ).ready(function() {
        $('#pendingList').DataTable({
            searchPane: {container: ".searchPanel"},
            'pageLength': 10,
            "order": [[ 4, "desc" ]]});
        })
</script>
{% endblock %}
