{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from  'macros/macros.html' import note_card %}
{% from  'macros/macros.html' import weather_cards %}

{% block content %}
<div class="container">
    <h2><strong></strong>Weather</h2>
    {{ weather_cards (weather.weather) }}
    <div><h2>Apartment Temperature: {{ internal_temp }} &deg;C</h2></div>
    <a class="btn btn-secondary" href="{{ url_for('therm.temp_stream') }}">See Data Stream</a>
</div>

<div class="container">
        <h2>Shopping List</h2>
        <table class="table table-striped table-bordered" style="width:100%" id="shoppingList">
            <thead>
                <th>Item</th>
                <th>Quantity</th>
            </thead>
            <tbody>
               
                    {% for item in shopping %}
                    <tr>
                        <td>{{ item.item.name }}</td>
                        <td>{{ item.quantity }}</td>
                    </tr>
                    {% endfor %}
           
            </tbody>
        
        </table>
</div>
<div class="container">
    <h2>Post-its</h2>
    <div class="wrapper">
        {% for note in notes %}
            <div> {{ note_card(note) }} </div>
        {% endfor %}
    </div>            
</div>
{% endblock %}