{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from  'macros/macros.html' import action %}
{% set active_page = "shopping" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="container h-100">
                    <div class="d-flex justify-content-center h-100">
                        <div class="form_card">
                            <div class="d-flex justify-content-center">
                            
                    </div>
                    <div class="form_card_title"><h2>{{ name }}</h2></div>
            
                        <div class="d-flex justify-content-center form_container">
                                {{ wtf.quick_form(form) }}
                        </div>
            
                        <div class="mt-4">
                        <div class="d-flex justify-content-center links">
            
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
  

    <h2>Shopping List</h2>
    <table class="table table-striped table-bordered" style="width:100%" id="shoppingList">
        <thead>
            <th>Item</th>
            <th>Quantity</th>
            <th>Bought</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
           
                {% for item in shopping %}
                <tr>
                    <td>{{ item.item.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td><a href="/shopping/{{ item.id }}/bought">{{ action('bought', 'item') }}</a></td>
                    <td><a href="/shopping/{{ item.id }}/edit">{{ action('edit', 'item') }}</a></td>
                    <td><a href="/shopping/{{ item.id }}/delete">{{ action('delete', 'item') }}</a></td>
                </tr>
                {% endfor %}
       
        </tbody>
    
    </table>

</div>
{% endblock %}