{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from  'macros/macros.html' import action %}
{% set active_page = "items" %}

{% block content %}
<div class="container">

    <h2>Item List</h2>
    <table class="table table-striped table-bordered" style="width:100%" id="shoppingList">
        <thead>
            <th>Item</th>
            <th>Popularity</th>
            <th>Delete</th>
        </thead>
        <tbody>
           
                {% for item in items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.used }}</td>
                    <td>
                        <form action="/item/{{ item.id }}/delete" method="post">  <button class = "delete btn btn-warning" type="submit" formmethod="post"> {{ action('delete', 'item') }} </button> </form>
                    </td>   
                </tr>
                {% endfor %}
       
        </tbody>
    
    </table>

</div>
{% endblock %}