{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from  'macros/macros.html' import action %}
{% set active_page = "shopping" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="container h-100">
                    <div class="d-flex justify-content-center h-100">
                        <div class="form_card">
                            <div class="d-flex justify-content-center">
                            
                    </div>
                    <div class="form_card_title"><h2>Choose Item</h2></div>
            
                        <div class="d-flex justify-content-center form_container">
                                {{ wtf.quick_form(choose_form) }}
                        </div>
            
                        <div class="mt-4">
                        <div class="d-flex justify-content-center links">
            
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">    
            <div class="container h-100">
                    <div class="d-flex justify-content-center h-100">
                        <div class="form_card">
                            <div class="d-flex justify-content-center">
                            
                    </div>
                    <div class="form_card_title"><h2>Add New Item</h2></div>
            
                            <div class="d-flex justify-content-center form_container">
                                    {{ wtf.quick_form(new_form) }}
                            </div>
            
                            <div class="mt-4">
                                <div class="d-flex justify-content-center links">
            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
  
    <div class = "row">
        <div class="col">

        </div>
        <div class="col-9">
            <h2>Shopping List</h2>
            <table class="table table-striped table-bordered" style="width:100%" id="shoppingList">
                <thead>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Bought</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </thead>
                <tbody>
                
                        {% for item in shopping %}
                        <tr>
                            <td>{{ item.item.name }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>
                                <form action="/shopping/{{ item.id }}/bought" method="post">  <button class = "bought btn btn-success" type="submit" formmethod="post"> {{ action('bought', 'item') }} </button> </form>
                            </td>
                            <td>
                                <a class = "delete btn btn-light" href="/shopping/{{ item.id }}/edit"></ahref>{{ action('edit', 'item') }}</a>
                            </td>
                            <td>
                                    <form action="/shopping/{{ item.id }}/delete" method="post">  <button class = "delete btn btn-warning" type="submit" formmethod="post"> {{ action('delete', 'item') }} </button> </form>
                                </td>
                        </tr>
                        {% endfor %}
            
                </tbody>
            
            </table>
            <form action="/clear_shopping" method="post">  <button class = "bought btn btn-danger" type="submit" formmethod="post">Clear Shopping List</button> </form>
        </div>
        <div class="col">
            
            </div>
    </div>
</div>
{% endblock %}