{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from  'macros/macros.html' import note_card %}
{% set active_page = "shopping" %}

{% block content %}
<div class ="container">
    <h1>{% block title %}Post-it Notes{% endblock %}</h1>
    <a href="/notes/create_note" class="btn btn-info btn-space">Add New Note</a>     
    <div class="wrapper">
                {% for note in notes %}
                  <div> {{ note_card(note) }} </div>
                {% endfor %}
    </div> 
  
    
</div>
{% endblock %}