{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from  'macros/macros.html' import action %}
{% set active_page = "notes" %}

{% block content %}
<div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="container h-100">
                        <div class="d-flex justify-content-center h-100">
                            <div class="form_card">
                                <div class="d-flex justify-content-center">
                                
                        </div>
                        {% if request.path == "/notes/create_note" %}
                            <div class="form_card_title"><h2>Add a Note</h2></div>
                        {% else %}
                        
                            <div class="form_card_title"><h2>Edit Note</h2>                             <form action="/notes/{{ note_id }}/delete" method="post">  <button class = "delete btn btn-warning" type="submit" formmethod="post"> {{ action('delete', 'note') }} </button> </form>
                            </div>
                        {% endif %}
                            <div class="d-flex justify-content-center form_container">
                                    {{ wtf.quick_form(form) }}
                                    
                            </div>

                
                            <div class="mt-4">
                            <div class="d-flex justify-content-center links">
                
                            </div>
                        </div>
                        </div>
                      
                    </div>
                </div>
            </div>
            </div>
            </div>
            {% endblock %}