{% macro action(name, type) -%}
    {% if name =="delete" %}
        {% set icon = "fas fa-trash-alt" %}
        {% set desc = ["delete", type]|join(' ') %}
    {% elif name =="edit" %}
        {% set icon = "far fa-edit" %}
        {% set desc = ["edit", type]|join(' ') %}
    {% elif name =="bought" %}
        {% set icon = "fas fa-shopping-cart" %}
        {% set desc = ["Mark", type, "as bought" ]|join(' ') %}
    {% elif name == "done" %}
        {% set icon = "fas fa-check" %}
        {% set desc = ["Mark", type, "as completed" ]|join(' ') %}
    {% endif %}
    
    <i class ="{{ icon }}" data-toggle="tooltip" data-placement="top" title="{{ desc }}"></i></a>
    
{%- endmacro %}



{% macro note_card(note) -%}

<a href="/notes/{{ note.id }}/edit">
    <div class="card text-center note-card flex-fill">
            <h5 class="card-title">{{ note.title }}</h5>
        <div class="card-body">                
          <p class="card-text">{{ nl2br( note.note ) | safe }}</p>
        </div>
      </div>
</a>
{%- endmacro %}

{% macro weather_cards(weather) -%}
<div class="row">
    <div class = "col">
        <ul class="nav nav-tabs nav-weather flex-column d-flex align-items-end flex-column">
        {% for w in weather %}
        <li class="nav-item">
            {% if w.day == "Today" %}
                <a class="nav-link active" data-toggle="tab" href="#{{ w.day }}">{{ w.day }}</a>
            {% else %}
            <a class="nav-link" data-toggle="tab" href="#{{ w.day }}">{{ w.day }}</a>
            {% endif %}
        </li>

        {% endfor %}
    </ul>
</div>
    <div class="col">
    <div class="tab-content">
        {% for w in weather %}
        {% if w.day == "Today" %}
            <div id="{{ w.day }}" class="tab-pane container active">
        {% else %}
            <div id="{{ w.day }}" class="tab-pane container"> 
        {% endif %}
        <div class="card weather-card ">
            <div class="card-header weather-list">
                    {{ w.day }}       
            </div>
            <ul class="list-group list-group-flush weather-list">
                <li class="list-group-item weather-list"><img src="{{ w.icon }}"></img></li>
                <li class="list-group-item weather-list">{{ w.status }}</li>
                <li class="list-group-item weather-list"><i class="fas fa-caret-down"></i>{{ w.t1 | int }}&#176;C <i class="fas fa-circle"></i>{{ w.t0 | int }}&#176;C <i class="fas fa-caret-up"></i>{{ w.t2 | int }} &#176;C</li>
                <li class="list-group-item weather-list">{{ w.humidity }}% humidity </li>
                <li class="list-group-item weather-list">{{ w.wind.speed}} m/s wind at {{ w.wind.deg }}&#176; </li>
            </ul>
        </div>
    </div>

        {% endfor %}
    </div>
</div>
</div>

{%- endmacro %}
